<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.hcworld.hcwblog.mapper.PostMapper">
    <!--按分页查询博客列表-->
    <select id="selectPosts" resultType="xyz.hcworld.hcwblog.vo.PostVo">
        SELECT p.id, p.title, p.content, p.edit_mode, p.category_id
            , p.user_id, p.vote_up, p.vote_down, p.view_count, p.comment_count
            , p.recommend, p.level, p.status, p.created, p.modified
            , u.id AS authorId, u.username AS authorName, u.avatar AS authorAvatar
            , c.id AS categoryId, c.name AS categoryName
        FROM m_post p
            LEFT JOIN m_user u ON p.user_id = u.id
            LEFT JOIN m_category c ON p.category_id = c.id
        ${ew.customSqlSegment}
    </select>
    <!--单篇文章的信息-->
    <select id="selectOnePost" resultType="xyz.hcworld.hcwblog.vo.PostVo">
        SELECT p.id, p.title, p.content, p.edit_mode, p.category_id
            , p.user_id, p.vote_up, p.vote_down, p.view_count, p.comment_count
            , p.recommend, p.level, p.status, p.created, p.modified
            , u.id AS authorId, u.username AS authorName, u.avatar AS authorAvatar
            , c.id AS categoryId, c.name AS categoryName
        FROM m_post p
            LEFT JOIN m_user u ON p.user_id = u.id
            LEFT JOIN m_category c ON p.category_id = c.id
        ${ew.customSqlSegment} LIMIT 1
    </select>
    <!--单篇文章的信息-->
    <select id="selectOnePostExistence" resultType="xyz.hcworld.hcwblog.vo.PostVo">
        SELECT p.id, p.user_id
        FROM m_post p
            ${ew.customSqlSegment} LIMIT 1
    </select>

</mapper>
